html, body {
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    
    /* background-image: url("assets/background.jpeg"); */
    
  }
  canvas {
    display: block;
   
  }
  h1,p, h2 {
    text-align: center;
     color: white;
    font-size:3.2em;
  }
  